<!DOCTYPE html>
<html>
<head>
  <title>管理者ダッシュボード</title>
</head>
<body>
  <h1>管理者ページ</h1>

  <h2>参加者一覧</h2>
  <ul>
    {% for p in participants %}
      <li>
        {{ p.user.username }} - {{ p.position }} - {{ p.name }} - {{ p.status }}
      </li>
    {% endfor %}
  </ul>

  <h3>出席者の合計人数: {{ present_count }}</h3>
<label>メールアドレス: <input type="email" name="email" required></label><br><label>ご質問・ご要望など: <textarea name="questions"></textarea></label><br>
  <a href="{{ url_for('logout') }}">ログアウト</a>
</body>
</html>
